apiVersion: apps/v1
kind: Deployment
metadata:
  name: qdrant
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1  # Allow one pod to go down first
      maxSurge: 0        # Don't try to create extra pods before others die
  selector:
    matchLabels:
      app: qdrant
  template:
    metadata:
      labels:
        app: qdrant
    spec:
      containers:
      - name: qdrant
        image: qdrant/qdrant:v1.13.2
        imagePullPolicy: Always
        ports:
        - name: http
          containerPort: 6333
        - name: grpc
          containerPort: 6334
        volumeMounts:
        - mountPath: /qdrant/storage
          name: qdrant-storage
        readinessProbe:
          httpGet:
            path: /healthz
            port: 6333
          initialDelaySeconds: 30
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /healthz
            port: 6333
          initialDelaySeconds: 60
          periodSeconds: 30
        resources:
          requests:
            cpu: 25m
            memory: 512Mi
          limits:
            cpu: 75m
            memory: 512Mi
      volumes:
      - name: qdrant-storage
        hostPath:
          path: /fs/lab/data/kakeibo/qdrant
