apiVersion: apps/v1
kind: Deployment
metadata:
  name: gatus
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1  # Allow one pod to go down first
      maxSurge: 0        # Don't try to create extra pods before others die
  selector:
    matchLabels:
      app: gatus
  template:
    metadata:
      labels:
        app: gatus
    spec:
      containers:
        - name: gatus
          image: twinproduction/gatus:latest
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: gatus-env
          volumeMounts:
            - name: config
              mountPath: /config
              readOnly: true
            - name: data
              mountPath: /data
          resources:
            limits:
              memory: 256Mi
      volumes:
        - name: config
          hostPath:
            path: /fs/lab/data/gatus/config
            type: Directory
        - name: data
          hostPath:
            path: /fs/lab/data/gatus
            type: DirectoryOrCreate
