apiVersion: apps/v1
kind: Deployment
metadata:
  name: syncthing
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1  # Allow one pod to go down first
      maxSurge: 0        # Don't try to create extra pods before others die
  selector:
    matchLabels:
      app: syncthing
  template:
    metadata:
      labels:
        app: syncthing
    spec:
      containers:
        - name: syncthing
          image: linuxserver/syncthing:latest
          ports:
            - containerPort: 8384
            - containerPort: 22000
              protocol: TCP
            - containerPort: 22000
              protocol: UDP
            - containerPort: 21027
              protocol: UDP
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: Asia/Kolkata
          volumeMounts:
            - name: config
              mountPath: /config
            - name: data
              mountPath: /data
          livenessProbe:
            httpGet:
              path: /rest/noauth/health
              port: 8384
            initialDelaySeconds: 45
            periodSeconds: 30
          resources:
            limits:
              memory: 256Mi
      volumes:
        - name: config
          hostPath:
            path: /fs/lab/data/syncthing/config
            type: DirectoryOrCreate
        - name: data
          hostPath:
            path: /fs/backups
            # path: /fs/lab/data/syncthing
            type: DirectoryOrCreate
